* {
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#464557;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h4, h5 {
    background-color: #919191;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 20pt;
}

h5 {
    font-size: 64pt;
    padding-bottom: 0.2em;
}

h6 {
    background-color: #696969;
    font-size: 20pt;
}


.header, .block, .footer {
    width: 100vw;
}

.header {
    border: #000000 1px solid;
    padding: 1em 0em;
    flex: 0;
}

.block {
    border: #000000 1px solid;
    height: 2em;
    flex: 1;
}

.game-container {
    border: #000000 1px solid;
    padding: 1em 2em;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3 0 auto;
    gap: 0.5em;
}

.odin {
    margin-top: auto;
}

.screen {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 25px;
    margin: 1em 0em;
    padding: 1.5em 0em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 0 auto;
    gap: .5em;
}


.vs-box {
    background-color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.player-choice, .cpu-choice {
    background-color: #919191;
    font-size: 24pt;
    min-height: 5em;
}

.vs-text {
    background-color: #919191;
    display: flex;
    align-items: flex-end;
}

.result-container {
    background-color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-image {
    border: #000000 1px solid;
    padding: 1em;
}

.result-text {
    font-size: 24pt;
    margin-left: 1em;
}

.screen-text-container {
    background-color: #919191;
    height: 2em;
}

.screen-text {
    background-color: #919191;
    font-size: 20pt;
    font-weight: bold;
}

.replay-container {
    background-color: #919191;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.replay {
    background-color: #919191;
    font-size: 12pt;
    padding: 0.5em;
}

.round-indicator {
    background-color: #919191;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1em;
}

.round-icon {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 25px;
    min-width: 25px;
    height: 1.5em;
}

.game-title {
    margin: 0.25em 0em;
}

.prompt-container {
    margin-top: 2em;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 auto;
}

.prompt {
    background-color: #464557;
}

.card-container {
    margin-top: 1em;
    height: 12em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}

.card {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 10px;
    min-width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 10px;
    min-width: 10em;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.power-button {
    background-color: #696969;
    border-radius: 30px;
    padding: 0.80em 0.55em 0.65em 0.60em;
}

.footer {
    border: #000000 1px solid;
    padding: 1em 0em;
    flex: 0;
}

.invisible {
    display: none;
}

.shade {
    background-color: #696969;
}