* {
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color:#808080;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 32pt;
}

h4 {
    background-color: #919191;
}

.header {
    border: #000000 1px solid;
    padding: 1em 0em;
    flex: 0;
}

.block {
    border: #000000 1px solid;
    flex: 1;
}

.game-container {
    border: #000000 1px solid;
    padding: 1em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 3 0 auto;
}

.screen {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 25px;
    margin: 1em 0em;
    padding: 1.5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 0 0;
}

.screen-text-container {
    background-color: #919191;
    height: 1em;
}
.screen-text {
    background-color: #919191;
}

.vs-box {
    background-color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    gap: 2em;
}

.vs-text {
    background-color: #919191;
    display: flex;
    align-items: flex-end;
}

.result-container {
    background-color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.image {
    border: #000000 1px solid;
    padding: 1em;
}

.result-text {
    margin-left: 1em;
}

.round-indicator {
    background-color: #919191;
    max-width: 14em;
    margin: 1em auto;
    display: flex;
    gap: 1em;
}

.round-icon {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 25px;
    width: 25px;
    flex: 1;
}

.game-title {
    margin: 0.5em 0em;
}

.prompt-container {
    margin-bottom: 1em;
    height: 1em;
}

.prompt {
    margin-bottom: 0.5em;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.card {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 10px;
    min-width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    background-color: #919191;
    border: #000000 1px solid;
    border-radius: 10px;
    min-width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power-container {
    display: flex;
    justify-content: flex-end;
}

.power-button {
    background-color: #696969;
    border-radius: 25px;
    padding-top: 0.25em;
    margin-top: 1.5em;
    width: 40px;
    height: 40px;
}

.footer {
    border: #000000 1px solid;
    padding: 1em 0em;
    flex: 0;
}

.invisible {
    display: none;
}